:root{
    --grey:#353535;
}

/* General */
body {
	font-family: Nunito, sans-serif;
	color: #1c1c1c;
}

h1, h2, h3{
	font-family: Asap, sans-serif;
	color: #000000;
}

/* Nav */
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #a12a0c;
}

nav > a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 800;
	font-size: 32px;
	font-family: Nunito, serif;
}

nav ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	padding: 0;
	width: 100%;
}

nav ul li {
	text-align: center;
	width: 100%;
}

nav ul li a {
	display: inline-block;
	padding: 10px 0;
	width: 120px;
	text-decoration: none;
	color: #FFFFFF;
    background: var(--grey);
    border-radius: 2em;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px){

	/*navegação*/
	
	nav {
		flex-direction: row;
		justify-content: space-around;
	}

	
	nav ul{
		flex-direction: row;
		width: 70%;
	}
}